:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color : #FF5C17;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #444444;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  
}

a {
  color: #106eea;
  text-decoration: none;
}

a:hover {
  color: #3b8af2;
  text-decoration: none;
}

