
.input-element{
    width: 100%;
}

.input-element{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ffffff;
    appearance: none;
    border-radius: 5px;
    transition: border-color .15s ease-in-out;
}

.input-element:focus{
    box-shadow: 0 0 5px #3498db;
    transition: 0.3s ease-in-out;
    outline: none;
}
.is-invalid {
    box-shadow: 0 0 5px #f02409;
}


 