
.password-container {
    display: flex;
    width: 100%;
    color: #000;
}

.modal-password-reenter{
    margin: 40px 0px;
}

.password-container .fa-eye {
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    padding: 10px 15px;
    color: #ffffff;
    margin-top: 5px;
    margin-left:-50px ;
    height: 17px;
    width: 20px;
    position: absolute;
    background-color: #a4a4a4;

}

.password-container .fa-eye:hover {
    background-color: #a4a3a3;
}





