
.product-detail {
    font-family: "Open Sans", sans-serif;
    padding: 80px 0;
    background: linear-gradient(90deg, rgba(14,59,101,1) 0%, rgba(23,97,167,1) 100%);
    display: flex;
    justify-content: center;
  }

  .product-detail .left-detail{
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 600px;
  }
  
  .product-detail .product-detail-swiper{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .product-detail .product-detail-swiper img{
    height: 100%; 
  }

  .product-detail .product-detail-image{
    width: 450px;
  }

  .product-detail .product-detail-rating{
    color: #fff;
    font-size: 20px;
    padding: 10px;
  }

  .product-detail .right-detail{
    width: 40%;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-left: 50px;
    align-items: center;
  }

  .product-detail h1{
    font-size: 50px;
    color: #fff;
    font-size: 64px; 
    margin-bottom: 50px;
  }

  .product-detail .right-detail .grid-table{
    font-size: 18px;
    font-style: italic;
  }

  .product-detail .right-detail .grid-table td{
    padding: 5px;
  }

  .product-detail .buy-button{
    background-color: #DFB625;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s; 
    width: 210px;
    height: 60px;
    margin-top: 40px;
    font-size: 25px;
  }
  
  .product-detail .buy-button:hover {
    background-color: #0E3B65; /* Cambiamos el color al hacer hover */
  }
  