
.r-border{
    color: #fff;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.22);
    margin: 20px 35% 20px 35%;
    background: linear-gradient(90deg, rgba(14,59,101,1) 0%, rgba(23,97,167,1) 100%);
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .r-title{
    color: #fff;
    font-size: 30px;
    font-family: sans-serif;
  }
  
  #imgUser{
    visibility: hidden;
  }
  
  .r-border .imgUser{
    border-color: rgba(55, 90, 122, 1);
    border-radius: 10px;
    margin: 0% 10% 3% 10%;
    padding: 10px;
    text-align: center;
    width: 250px;
  }
  
  .internalBorder{
    width: 100%;
    margin-top: 30px;
  }

  .mb-3 {
  width: 80%;
  margin-bottom:10px ;
  }
  
  .imgUserLabel{
    max-width: 100%;
    height: auto;
    background-color: #e9ecef;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  .imgUserLabel img{
    max-width: 100%;
    height: auto;
  }
  
  .UserForm{
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 350px;
  }
  
  .r-border a{
    color: #fff;
  }
  
  
  .r-border form {
    display: flex;
    flex-direction: column;
  }
  
  .r-border input {
    font-size: 12px;
    background: #D9D9D9;
    outline: none;
    padding: 10px;
    border-radius: 10px;
  }
  
  .r-border .btn-success{
    background: #FF5C17;
    border-radius: 4px;
    color: #fff;
    transition: none;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    transition: 0.3s;
    font-weight: 200;
    border: none;
    height: 40px;
    width: 30%;
    margin: 40px auto 5px auto;
  }
  
  .r-border .btn-success:hover{
    background: #eca07f;
  }
  
  .r-border .login-dialog-signup-text{
    font-size: 14px;
    margin: auto;
  }
  
  .signup-password-container {
  display: flex;
  width:100%;
  }
  
  .signup-password-container .fa-eye {
    width: 20%;
    justify-content: center;
    background-color: #FF5C17;
    margin-left: -10px;
    border-radius: 5px;
  }
  
  .signup-password-container {
    width: 200%
  }
  
  .signup-password-container .fa-eye:hover {
    background-color: #f8804d;
  }