
.portfolio-item{
    display: flex; 
    width: fit-content;
    margin-bottom: 30px;
    box-shadow: 5px 5px 12px 0 rgba(0, 0, 0, 0.2);
}


.img-fluid{
    width: 350px;
    border-radius: 10px;
}

.btn-edit , .btn-delete{ 
    background-color: rgb(135, 141, 135);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    box-shadow: 5px 5px 12px 0 rgba(0, 0, 0, 0.2);
    width: 60px;
    height: 60px;
    position: absolute;
    top: 40% ;
    opacity: 0.6;
    transition: 0.3s;
  }

  .btn-edit {
    left: 30%;
  }

  .btn-delete {
    left: 50%;
  }


  .fa-pen-to-square, .fa-trash{
    width: 30px;
    height: 30px;
  }
  
  .btn-edit:hover {
    background-color: rgb(41, 163, 41);
    opacity: 1;
  }
    
  .btn-delete:hover {
    background-color: rgb(210, 54, 54);
    opacity: 1;
  }

  
.portfolio-links {
    display: flex;
    justify-content: space-between;
  }
  
  .portfolio-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .portfolio-links a:hover {
    color: #FF5C17;
  }

  .portfolio-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgba(222, 211, 211, 0.8);
  }
  
  .portfolio-info h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
  }
  
  .portfolio-info p {
    margin: 5px 0 0;
    font-size: 14px;
    font-weight: 400;
  }



  .portfolio-wrap {
    position: relative;
    border-radius: 4px;
  }